<div class="cart">
  <div class="card">
    <div id="cardheader" class="card-header">
      Cart Details
    </div>
    <div id="cardbody" class="card-body">
      <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 mattable">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column - -qtySelected -->
        <ng-container matColumnDef="qtySelected">
          <th mat-header-cell *matHeaderCellDef> Qty </th>
          <td mat-cell *matCellDef="let element">
            <span
              *ngIf="isEditClicked === false  || ( editItemCategoryId !== element.categoryId || editItemId !== element.id)"
              [attr.rowid]="element.id">
              {{element.qtySelected}}
            </span>
            <div class="content-count border mt-2" #btnlink
              *ngIf="isEditClicked === true && editItemCategoryId === element.categoryId && editItemId === element.id"
              [attr.rowid]="element.id">
              <i class="fa fa-minus bg-primary i-minus" (click)="removeFromCart(element)"></i>
              <!-- <input class="ps-4 pe-4 num" type="number" [(ngModel)]="count" /> -->
              <span class="count-span">{{element.qtySelected}}</span>
              <i class="fa fa-plus bg-primary i-plus" (click)="addToCart(element)"></i>
            </div>
          </td>
        </ng-container>

        <!-- Name Column - -price -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- Name Column - -total -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

        <!-- Name Column - -total -->
        <ng-container matColumnDef="btn">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <i class="fa fa-trash trash" matTooltip="Remove Item" (click)="deleteFromCart(element)"
              aria-hidden="true"></i>
            <i class="fa fa-edit edit p-2" matTooltip="Edit Item" (click)="isEditSelected(element)"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="empty-row">
          <mat-cell *matCellDef="let element">No Records Found.</mat-cell>
        </ng-container>

        <!-- <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"> </mat-paginator> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="header-row"></tr>
        <!-- <div class="card"> -->
        <tr mat-row [attr.rowuniqueid]="row.id" #tableRows
          *matRowDef="let row; columns: dataSource.length > 0 ? displayedColumns : ['empty-row'];">
        </tr>
        <!-- </div> -->
        <!-- <div class="mat-row" *matNoDataRow>
        <div class="mat-cell">
          No Records Found.
        </div>
      </div> -->

      </table>
    </div>

  </div>
</div>

<div class="checkout">
  <div class="card">
    <div id="cardheader" class="card-header">
      <button class="btn btn-primary mt-2 rounded-pill">Continue to checkout</button>
    </div>
    <div id="cardbody" class="card-body">
      <div>
        Subtotal ({{ getSummary('qty') }} items) {{getSummary('total')}}
      </div>
      <div>
        Delivery {{ getCartSummary('delivery') }}
      </div>
      <div>
        Taxes {{ getCartSummary('tax') }}
        <div>
          13% HST
        </div>
        <div>
          Estimated Total
        </div>

      </div>
    </div>
  </div>